################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MpMigrate.Core/obj/Debug
/MpMigrate.Test/obj/Debug
/MpMigrate/bin/Release
/MpMigrate.Data/obj/Release
